<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hive.dao.mapper.UserMapper" >
  <select id="getUser" resultType="com.hive.model.User">
  	SELECT USER_ID as userId,USER_NAME as userName FROM T_USER_INFO LIMIT 0,10
  </select>
</mapper>